echo "*" >> .gitignore

echo "!niri/" >> .gitignore
echo "!waybar/" >> .gitignore
echo "!scripts/" >> .gitignore
echo "!nvim/" >> .gitignore
echo "!foot/" >> .gitignore
echo "!fish/" >> .gitignore
echo "!fastfetch/" >> .gitignore
echo "!rofi/" >> .gitignore
echo "!hypr/" >> .gitignore
echo "!dunst/" >> .gitignore
echo "!cava/" >> .gitignore
echo "!images/" >> .gitignore
echo "!README.md" >> .gitignore
echo "!zed/" >> .gitignore
echo "!yazi/" >> .gitignore
echo "!Marci-Cursor-Pack" >> .gitignore







